<div class=" m-auto bg-slate-500 w-80 mt-10">

    <% const motifs=data.motifs; %>
    <% for(const i in motifs) { %>
        <div class="text-center">
            <button>
                <%= motifs[i].name %>
            </button>
            <article>
                <p class=" hidden"> <%= motifs[i].mainAppearance[0].appears %> </p>
            </article>
        </div>
    <% } %>
</div>

