<section id="container" class=" justify-center items-center text-center  flex flex-wrap ">
    
    <% for(var i = 1; i < 11; i++) { %>
    
        <div class="group w-fit justify-center items-center text-center m-auto ">
            <img id="img"src="/public/img/seasons/season-<%= i %>.jpg " alt="yo" class="group group-hover:blur transition-all  w-[300px] rounded-[50px] shadow-2xl">
                <div class="scale-0 text-white group-hover:-translate-y-28 group-hover:scale-100 transition-all duration-500 font-semibold text-lg">
                    <a href="#" class="">View more</a>
                </div>
        </div>
    
    <% } %>
    

   

   
    
</section>