<section id="container" class=" text-center  flex flex-wrap max-w-[60%] m-auto">
    
    <% for(var i = 1; i < 11; i++) { %>
    
        <div class="group text-center m-auto max-w-[60%] ">
            <img id="img"src="/public/img/seasons/season-<%= i %>.jpg " alt="yo" class="group group-hover:blur transition-all  w-[200px] rounded-[10px] shadow-2xl ">
                <div class="scale-0 text-white group-hover:-translate-y-28 group-hover:scale-100 transition-all duration-500 font-semibold text-lg">
                    <a href="./season.ejs" class="">View more</a>
                </div>
        </div>
    
    <% } %>
    

   

   
    
</section>