<footer class="bg-tardis text-white text-center m-auto flex pb-3 pt-3">
    <div id="xjarlie-list" class=" m-auto mr-0">
        <h1 class=" text-xl">Xjarlie</h1>
        <div id="body">

        </div>
        <ul class=" inline  m-auto group">
            <li class=" inline px-5 hover:text-amber-600 transition-all ">
                <a href="https://github.com/xjarlie" rel="noopener noreferrer" target="_blank">Github</a>
            </li>
    
            <li class=" inline px-5 hover:text-yellow-400  transition-all">
                <a href="mailto:xjarlie.xjarlie@gmail.com">Send an email</a>
            </li>
    
            <li class=" inline px-5 hover:text-green-400 transition-all">
                Back-end Developer
            </li>
        </ul>
    </div>


    <div id="praythecube-list" class="m-auto ml-0">
        <h1 class="text-xl">Praythecube</h1>

        <div id="Body">
            <ul class=" inline  m-auto ">
                <li class=" inline px-5 hover:text-amber-600 transition-all">
                    <a href="https://github.com/Praythecube" rel="noopener noreferrer" target="_blank">Github</a>
                </li>
        
                <li class=" inline px-5 hover:text-yellow-400 transition-all">
                    <a href="mailto:pray.lav@gmail.com">Send an email</a>
                </li>
        
                <li class=" inline px-5 hover:text-green-400 transition-all">
                    Front-end Developer
                </li>
            </ul>
        </div>
    </div>
</footer>