<link rel="stylesheet" href="/public/css/navbar.css" />
<div class="navbar">
    <a class="titleWrap" href="/">
        <img src="/public/img/android-chrome-192x192.png" width="48px" height="48px" alt="Doctor Who Logo (2023)" />
        <span class="ntitle">
            Leitmotif Catalogue
        </span>
    </a>
    <form class="searchWrap" action="/search" method="get">
        <input type="text" autocomplete="off" name="q" required placeholder="Search..." />
        <button type="submit">
            <img src="/public/img/search.svg" alt="search icon" />
        </button>
    </form>
</div>