<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
    <title>Home - Doctor Who Leitmotif Catalogue</title>
    <link rel="stylesheet" href="/public/css/index.css" />
</head>
<body>
    <a href="/motifs">Motifs</a>
    <a href="/tracks">Tracks</a>
</body>
</html>