<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head')  %> 
    <title><%= motif.name %> - Doctor Who Leitmotif Catalogue</title>
</head>
<body>
    <%- include('partials/navbar') %>


</body>
</html>