<!DOCTYPE html>
<html>
    <head>
        <%- include("partials/head", {title: 'Search' }) %>
    </head>

    <body>
        <script async src="https://cse.google.com/cse.js?cx=0752cd90b0fb04657">
        </script>
        <div class="gcse-search"></div>
    </body>
</html>