body {
    background-color: var(--tardis-blue);
    color: white;
    overflow-y: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

a.always-underline {
    text-decoration: underline;
}

a:hover:not(.never-underline) {
    text-decoration: underline;
    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    align-items: center;
    padding: 0 1rem;
}

.header .title {
    font-size: 32pt;
    font-weight: 300;
    text-align: center;
}

.header .credit {
    color: rgba(255, 255, 255, 60%);
    font-weight: 500;
    font-size: 16pt;
}

.header .searchWrap {
    display: flex;
    flex-direction: row;
    
    background-color: transparent;

    border-radius: 10px;

    transition: all 0.1s ease;
    
    width: 100%;
    min-width: 200px;

    margin-top: 1rem;
}

.header .searchWrap input {
    background-color: rgba(255, 255, 255, 10%);
    border: none;
    border-radius: 10px;

    color: white;
    font-weight: 500;
    font-size: 14px;
    font-style: italic;

    width: 100%;

    padding: 0 48px 0 12px;

    transition: all 0.1s ease;

    position: relative;
}

.header .searchWrap input:hover {
    background-color: rgba(255, 255, 255, 12%);
}

.header .searchWrap input:focus {
    border: none;
    outline: none;

    background-color: rgba(255, 255, 255, 15%);
}

.header .searchWrap input::placeholder {
    color: rgba(255, 255, 255, 70%);
}

.header .searchWrap button {
    position: relative;
    height: 100%;
    width: 38px;
    aspect-ratio: 1 / 1;
    margin-left: -38px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 5%);
    border: none;

    border-radius: 10px;

    transition: all 0.1s ease;
}

.header .searchWrap button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 10%);
}

.header .searchWrap button img {
    margin: auto;
}

.container {
    width: 100%;
    /* margin: 1rem auto 1rem auto; */
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

}

.carousel-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5rem;
    margin-left: 4rem;
    flex-wrap: wrap;
}

.carousel-title .title {
    font-size: 32px;
    font-weight: 400;

    margin-right: 1rem;
}

.carousel-title .viewall {
    font-weight: 600;
    color: rgba(255, 255, 255, 80%);
}

.carousel {
    display: flex;
    flex-direction: row;
    width: 100%;

    background-color: rgba(255, 255, 255, 5%);

    overflow-x: auto;
    padding: 1rem;
    padding-left: 3.5rem;

    margin-bottom: 3rem;
}

.carousel .pane {
    width: 300px;
    min-width: 300px;
    

    display: flex;
    flex-direction: column;
}

.carousel .pane .paneTitle {
    cursor: pointer;
}

.carousel .pane .embed {
    overflow: hidden;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.carousel .pane .embed img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    

    transition: all 0.2s ease;
    
}
.carousel .pane:hover .embed img {
    transform: scale(1.03);
}
.carousel .pane:hover .info .view {
    text-decoration: underline;
}


.carousel .pane .info {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.7rem;
    justify-content: space-between;
    flex-grow: 1;
}

.carousel .pane .info .name {
    font-size: 18px;
    font-weight: 400;

}

.carousel .pane .info .view {
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 80%);
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.carousel .viewmore {
    width: 200px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: rgba(255, 255, 255, 80%);
}

.carousel .viewmore .text {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 1rem;
}

.carousel .viewmore svg {
    width: 20px;
    height: auto;
    aspect-ratio: 1/1;
}

.series.pane {
    width: 200px;
    min-width: 200px;
}

.series.pane .embed {
    aspect-ratio: 2 / 3;
    border-radius: 0 0 10px 10px;
}

@media screen and (max-width: 768px) {
    .carousel {
        padding: 0.5rem;
        padding-left: 1rem;
    }
    .carousel-title {
        margin-left: 1rem;
    }
    .carousel-title .viewall {
        margin-left: 0;
    }

    .carousel .pane {
        min-width: 200px;
        width: 200px;

        margin: 0.2rem;
    }

    .carousel .pane .paneTitle {
        padding: 0.3rem;
        padding-left: 0.5rem;
    }
    .carousel .pane .embed {
        /* border-radius: 10px 10px 0 0; */
    }

    .carousel .pane .info .name {
        font-size: 17px;
    }

}

.content {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}



.about {
    width: 50%;
}

.about .text {
    margin: 0.7rem 0.7rem 0.7rem 0.7rem;
    display: block;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.links a {
    display: block;
    background-color: rgba(255, 255, 255, 12%);
    border-radius: 14px;
    padding: 1rem;
    margin-bottom: 0.4rem;
    text-align: center;
    transition: all 0.1s ease;
    font-weight: 700;
}

.links a:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 30%);
}
/* 
.recent {
    flex-grow: 1;
}

.recent .motif {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem;
    transition: all 0.1s ease;
    font-style: italic;
}

.recent .motif:nth-child(even) {
    background-color: rgba(255, 255, 255, 12%);
}

.recent .motif:hover {
    background-color: rgba(255, 255, 255, 20%);
    text-decoration: none;
}

.recent .motif:last-child {
    border-radius: 0 0 10px 10px;
} */

@media screen and (max-width: 600px) {
    .content {
        flex-wrap: wrap-reverse;
    }
    .about, .right {
        width: 100%;
    }
}