html {
    height: 100%;
}

body {
    background-color: var(--tardis-blue);
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    width: 80%;
    max-width: 1000px;
}

.header {
    display: flex;
    flex-direction: column;
}

.nav {
    font-weight: 700;
    color: rgba(255, 255, 255, 50%);
    display: block;
}

.nav:hover {
    text-decoration: underline;
}

.nav a {
    text-decoration: none;
    color: inherit;
}

.title {
    font-weight: 500;
    font-size: 28px;
    padding: 0.3rem 0 0.9rem 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.title svg {
    width: 36px;
    stroke-width: 5px;
    color: inherit;
    margin-right: 0.1rem;
    stroke: white;
}

.tags {
    padding: 0 0 1.3rem 0;
}

.tag {
    background-color: rgba(255, 255, 255, 20%);
    padding: 3px 10px;
    border-radius: 10px;
    font-style: italic;
    color: inherit;
    text-decoration: none;
    transition: all 0.1s ease;
}

.tag:hover {
    background-color: rgba(255, 255, 255, 30%);
}


.subpanel {
    margin: 0.5rem;
}

.left {
    min-width: 270px;
    width: 40%;
    flex-grow: 1;
}

.right {
    width: 40%;
    max-width: 550px;
}

.listen {
    display: flex;
    flex-direction: column;
}

.details {
    display: flex;
    flex-direction: column;
}

.details .content {
    margin: 0.7rem 0.7rem 0.7rem 0.7rem;
}

.appearances {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.appearances .list .item {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0.75rem 10px;
    color: inherit;
    text-decoration: none;
    transition: all 0.1s ease;
}
/* .appearances .list .item:nth-child(even) {
    background-color: rgba(255, 255, 255, -10%);
} */
.appearances .list .item:hover {
    background-color: rgba(255, 255, 255, 20%);
}

.item .appname {
    flex-grow: 1;
}

.item .episode {
    margin: 0 20px;
}

.embed iframe {
    aspect-ratio: 1.5 / 1;
    width: 100%;
    height: auto;
}

.caption {
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    margin: 0.3rem;
}

.spotify {
    
}

.spotify:hover {
    text-decoration: underline;
}

.spotify a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
}

.spotify svg {
    width: 24px;
    margin: 10px;
}

@media screen and (max-width: 768px) {


    .container {
        width: 90%;
        margin-top: 2rem;
    }

    .panel {
        padding: 0rem;
    }

    .left {
        width: 100%;
    }
    
    .right {
        width: 100%;
        max-width: none;
    }
}
/* 
@media screen and (max-width: 425px) {
    .panel {
        background-color: transparent;
        margin: auto 0;
    }

    .subpanel {
        padding: 0;
        margin: 0;
    }

    .pane {
        margin-left: 0;
        margin-right: 0;
    }
    
} */