:root {
    --tardis-blue: #003B6F;
    --dark-tardis: #00203C;
    font-family: 'IBM Plex Sans', sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
}

@media (hover: hover) {
    .simple-scrollbar {
        scrollbar-color: rgba(255, 255, 255, 50%) rgba(0, 0, 0, 0%);
        scrollbar-width: 10px;
    }
    
    .simple-scrollbar::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        border-radius: 16px;
        transition: all 0.1s ease;
    }
    
    .simple-scrollbar::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 20%);
        border-radius: 16px;
        transition: all 0.1s ease;
    }
    
    .simple-scrollbar::-webkit-scrollbar-thumb:focus {
        background: rgba(255, 255, 255, 40%);
    }
    
    .simple-scrollbar::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0%);
        border-radius: 16px;
    }

    .simple-scrollbar:not(:hover) {
        scrollbar-color: rgba(0,0,0,0%);
    }
    .simple-scrollbar:not(:hover)::-webkit-scrollbar-thumb {
        background:rgba(0, 0, 0, 0%);
    }

}

.panel {
    background-color: rgba(255, 255, 255, 12%);
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    border-radius: 16px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pane {
    background-color: rgba(255, 255, 255, 20%);
    border-radius: 10px;
    margin: 0.5rem;
}

.paneTitle {
    cursor: default;
    font-weight: 900;
    font-style: italic;
    font-size: 14px;
    display: block;
    width: 100%;
    
    padding: 0.5rem;

    /* background-color: color-mix(in srgb, var(--tardis-blue), rgba(255, 255, 255, 12%)); */
    background-color: rgba(255, 255, 255, 80%);
    color: var(--tardis-blue);
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}