body {
    background-color: var(--tardis-blue);
    color: white;
    height: 100svh;

}


.title {
    font-weight: 500;
    font-size: 30px;
    padding: 0.5rem 0 0.7rem 0;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    padding-top: 2rem;
    margin: 0 auto;
    overflow-y: scroll;
}

.left {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;

    position: sticky;
    top: 0;
    left: 0;
}

.left .series.header {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 0.5rem;
}

.left .series.header .nav {
    font-weight: 700;
    color: rgba(255, 255, 255, 50%);
    display: block;
}

.left .series.header .nav:hover {
    text-decoration: underline;
}

.left .series.header .nav a {
    text-decoration: none;
    color: inherit;
}

.left .series.header .title {
    font-size: 38px;
    padding: 0;
    font-weight: 500;
}

.left .pane .content {
    display: flex;
    flex-direction: row;
}

.left .pane .content img {
    width: 150px;
    max-width: 50%;
    height: auto;
    border-bottom-left-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.left .pane .content .text {
    padding: 10px;
}

.left .series.pane {
    display: flex;
    flex-direction: column;
}

.series.links {
    max-height: 200px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.series.links a {
    color: white;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

.series.links a:hover {
    color: rgba(255, 255, 255, 80%);
}


.main {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.main .header {
    display: flex;
    flex-direction: row;
}

.main .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main .header .dropdown {
    color: rgba(255, 255, 255, 70%);
    cursor: pointer;
    text-decoration: underline;
    font-weight: 500;
    user-select: none;
}

.main .header .dropdown:hover {
    color: rgba(255, 255, 255, 50%);
}

.main > .motifs, .main > .tracks {
    margin: 0 auto;
    width: 100%;
}


@media screen and (max-width: 768px) {
    .container {
        flex-wrap: wrap;
    }

    .left {
        width: 100%;
        margin-right: 0;

        position: inherit;
    }

    .main {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .left .pane .content img {
        display: none;
    }
}

.closed {
    height: 2px !important;
    padding-bottom: 0 !important;
    overflow: hidden !important;
}