.table-wrap {
    background-color: rgba(255, 255, 255, 12%);
    border-radius: 16px;
    width: 100%;
    overflow: auto;
    height: fit-content;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

@media screen and (max-width: 500px) {
    td.motifs, th.motifs {
        display: none;
    }
}

@media screen and (max-width: 350px) {
    td.appears, th.appears {
        display: none;
    }
}

.table-sort {
    border-spacing: 0;
    width: 100%;
}

thead th {
    padding: 0.5rem;
}

tbody td a {
    display:block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

tbody td.yt a, tbody td.spotify a {
    padding: 0.7rem;
}

tbody td.yt, tbody td.spotify {
    width: 0.1%;
    white-space: nowrap;
}

tbody tr {
    transition: all 0.1s ease;
}

tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 12%);
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 20%);
    cursor: pointer;
}

td svg {
    width: 24px;

}